force-app/main/default/flows/Deal_Request_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_Policy_Invocable</name>
        <label>Calculate Deal Policy</label>
        <locationX>370</locationX>
        <locationY>168</locationY>
        <actionName>DealGuardPolicyInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Decision_Policy_Changed</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Decision_Status_Change</targetReference>
        </faultConnector>
        <inputParameters>
            <name>dealAmount</name>
            <value>
                <elementReference>$Record.Deal_Amount__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>deliveryCost</name>
            <value>
                <elementReference>$Record.Delivery_Cost__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>discountPercent</name>
            <value>
                <elementReference>$Record.Discount_Percent__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customerTier</name>
            <value>
                <elementReference>$Record.Customer_Tier__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varRiskLevel</assignToReference>
            <name>riskLevel</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varRequiredApprover</assignToReference>
            <name>requiredApprover</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varApproverUserId</assignToReference>
            <name>approverUserId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varPolicySignal</assignToReference>
            <name>policySignal</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_Approved</name>
        <label>Send Approval Email</label>
        <locationX>370</locationX>
        <locationY>768</locationY>
        <actionName>DealGuardEmailService</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>dealRequestId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationType</name>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_Rejected</name>
        <label>Send Rejection Email</label>
        <locationX>670</locationX>
        <locationY>768</locationY>
        <actionName>DealGuardEmailService</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>dealRequestId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationType</name>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_Submitted</name>
        <label>Send Submission Email</label>
        <locationX>70</locationX>
        <locationY>768</locationY>
        <actionName>DealGuardEmailService</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>dealRequestId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationType</name>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Decision_Policy_Changed</name>
        <label>Did Policy Change?</label>
        <locationX>370</locationX>
        <locationY>288</locationY>
        <defaultConnector>
            <targetReference>Decision_Status_Change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Change</defaultConnectorLabel>
        <rules>
            <name>Policy_Needs_Update</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Risk_Level__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varRiskLevel</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Required_Approver__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varRequiredApprover</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Approval_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Policy_Fields</targetReference>
            </connector>
            <label>Yes - Update Needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Status_Change</name>
        <label>What Status Change?</label>
        <locationX>370</locationX>
        <locationY>528</locationY>
        <defaultConnectorLabel>No Status Change</defaultConnectorLabel>
        <rules>
            <name>Is_New_Submission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_History_Submitted</targetReference>
            </connector>
            <label>New Submission</label>
        </rules>
        <rules>
            <name>Status_Changed_To_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Approval_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_History_Approved</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
        <rules>
            <name>Status_Changed_To_Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Approval_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_History_Rejected</targetReference>
            </connector>
            <label>Rejected</label>
        </rules>
    </decisions>
    <description>Automates policy calculation, approval history tracking, and email notifications on Deal Request create and update. Uses DealGuardPolicyInvocable as single source of truth for risk and approver assignment.</description>
    <environments>Default</environments>
    <interviewLabel>Deal Request Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Deal Request Automation</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_History_Approved</name>
        <label>Create History - Approved</label>
        <locationX>370</locationX>
        <locationY>648</locationY>
        <connector>
            <targetReference>Send_Email_Approved</targetReference>
        </connector>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Action_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Actor_Role__c</field>
            <value>
                <elementReference>$Record.Last_Decision_By__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>$Record.Approver_Comments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deal_Request__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Deal_Approval_History__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_History_Rejected</name>
        <label>Create History - Rejected</label>
        <locationX>670</locationX>
        <locationY>648</locationY>
        <connector>
            <targetReference>Send_Email_Rejected</targetReference>
        </connector>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Action_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Actor_Role__c</field>
            <value>
                <elementReference>$Record.Last_Decision_By__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>$Record.Approver_Comments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deal_Request__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Deal_Approval_History__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_History_Submitted</name>
        <label>Create History - Submitted</label>
        <locationX>70</locationX>
        <locationY>648</locationY>
        <connector>
            <targetReference>Send_Email_Submitted</targetReference>
        </connector>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Action_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Actor_Role__c</field>
            <value>
                <stringValue>Sales Rep</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <stringValue>Deal submitted and routed for approval.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deal_Request__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Deal_Approval_History__c</object>
    </recordCreates>
    <recordUpdates>
        <name>Update_Policy_Fields</name>
        <label>Update Policy Fields</label>
        <locationX>170</locationX>
        <locationY>408</locationY>
        <connector>
            <targetReference>Decision_Status_Change</targetReference>
        </connector>
        <inputAssignments>
            <field>Approver__c</field>
            <value>
                <elementReference>varApproverUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Required_Approver__c</field>
            <value>
                <elementReference>varRequiredApprover</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Risk_Level__c</field>
            <value>
                <elementReference>varRiskLevel</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>370</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Call_Policy_Invocable</targetReference>
        </connector>
        <object>Deal_Request__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varApproverUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPolicySignal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRequiredApprover</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRiskLevel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
